<h2>{{ driver.forename }} {{ driver.surname }}</h2>
<p><a href="{{ driver.url }}">{{ driver.url }}</a>
<p>Гонки: {{ stats.races }}
<br>Очки: {{ stats.points }}
{% if stats.wins > 0 %}
    <br>Победы: {{ stats.wins }}
{% elif stats.bestr %}
    <br>Лучший финиш: {{ stats.bestr }}
{% endif %}
<br>Всего кругов: {{ stats.lapst }}
<br>Лучший круг: {{ stats.lapsf }}
<br>Кругов лидирования: {{ stats.lapsl }}
<br>Подиумы: {{ stats.podiums }}
{% if stats.poles > 0 %}
    <br>Поулы: {{ stats.poles }}
{% elif stats.bestq %}
    <br>Лучший старт: {{ stats.bestq }}
{% endif %}

<h3>Карьера</h3>
<table class="table table-striped table-condensed" style="width: auto">
    <thead>
        <tr>
            <th>#</th>
            <th>Год</th>
            <th>Команда</th>
        </tr>
    </thead>
    <tbody>
        {% for step in career %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ step.0 }}</td>
                <td>{{ step.1 }}</td>
            </tr>
        {% endfor%}        
    </tbody>
    
</table>
