{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                {{ driver.forenamerus }} {{ driver.surnamerus }} ({{ driver.forename }} {{ driver.surname }})
                {% if driver.flag %}
                    <img src="{% static 'image/flag/' %}{{ driver.flag }}" 
                            alt="{{ driver.nationalityrus }}" 
                            title="{{ driver.nationalityrus }}">
                {% endif %}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if driver.photo %}
                <img src="{% static 'image/driver/' %}{{ driver.photo }}" 
                    alt="{{ driver.forenamerus }} {{ driver.surnamerus }}" 
                    title="{{ driver.forenamerus }} {{ driver.surnamerus }}">
            {% endif %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <!-- <h3>Персональная информация</h3> -->
            <table class="table table-condensed" style="width: auto">
                <tr>
                    <td>
                        <a href="{{ driver.website }}">Вебсайт</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if driver.twitter %}
                            <a href="https://twitter.com/{{ driver.twitter }}">
                                <img src="{% static 'image/icons/twitter.png' %}" style="background-color:red;">
                            </a>
                        {% endif %}
                        {% if driver.instagram %}
                            <a href="https://instagram.com/{{ driver.instagram }}">
                                <img src="{% static 'image/icons/inst.png' %}">
                            </a>
                        {% endif %}
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ driver.dob }}
                    </td>
                </tr>
                <tr><td></td><td></td></tr>
            </table>
            <h3>Достижения</h3>
            <table class="table table-condensed" style="width: auto">
                <tr>
                    <td>
                        Гонки: {{ driver.gp }}
                    </td>
                    <td>
                        Очки: {{ driver.points }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if driver.win > 0 %}
                            Победы: {{ driver.win }}
                        {% elif driver.bestfinish %}
                            Лучший финиш: {{ driver.bestfinish }}
                        {% endif %}
                    </td><td>Подиумы: {{ driver.podium }}</td>
                </tr>
                <tr>
                    <td>
                        {% if driver.pole > 0 %}
                            Поулы: {{ driver.pole }}
                        {% elif driver.beststart %}
                            Лучший старт: {{ driver.beststart }}
                        {% endif %}
                    </td><td>Лучший круг: {{ driver.fl }}</td>
                </tr>
                <tr>
                    <td>
                        Всего кругов: {{ driver.laps }}
                    </td>
                    <td>
                        Кругов лидирования: {{ driver.lapsled }}
                    </td>
                </tr>
                <tr><td></td><td></td></tr>
            </table>
        </div>
    </div>
<h3>Карьера</h3>
<table class="table table-striped table-condensed" style="width: auto">
    <thead>
        <tr>
            <th>#</th>
            <th>Год</th>
            <th>Команда</th>
        </tr>
    </thead>
    <tbody>
        {% for step in career %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ step.0 }}</td>
                <td><a href="/team/{{ step.2 }}">{{ step.1 }}</a></td>
            </tr>
        {% endfor%}        
    </tbody>
    
</table>
</div>