<h4>Следующая гонка: {{ race.name }}</h4>
<h5>Возможно, результаты будут такие: </h5>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <b>Квалификация</b>
            <table class="table table-condensed table-striped" style="width: auto">
                <thead>
                    <tr>
                        <th>Место</th>
                        <th>Гонщик</th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver in qualForecast %}
                        <tr>
                            <td>{{ driver.grid }}</td>
                            <td><a href="/driver/{{ driver.driver.driverid }}">{{ driver.driver.forename.0 }}. {{ driver.driver.surname }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <b>Гонка</b>
            <table class="table table-condensed table-striped" style="width: auto">
                <thead>
                    <tr>
                        <th>Место</th>
                        <th>Гонщик</th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver in raceForecast %}
                        <tr>
                            <td>{{ driver.position }}</td>
                            <td><a href="/driver/{{ driver.driver.driverid }}">{{ driver.driver.forename.0 }}. {{ driver.driver.surname }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
