<h2>{{ team.name }}</h2>
<p><a href="{{ team.url }}">{{ team.url }}</a>
<br>{{ team.nationality }}
<table class="table table-condensed" style="width: auto">
    <tr>
        <td>
            Гонки: {{ stats.races }}
        </td>
        <td>
            Очки: {{ stats.points }}
        </td>
    </tr>
    <tr>
        <td>
            {% if stats.wins > 0 %}
                Победы: {{ stats.wins }}
            {% elif stats.bestr %}
                Лучший финиш: {{ stats.bestr }}
            {% endif %}
        </td><td>Подиумы: {{ stats.podiums }}</td>
    </tr>
    <tr>
        <td>
            {% if stats.poles > 0 %}
                Поулы: {{ stats.poles }}
            {% elif stats.bestq %}
                Лучший старт: {{ stats.bestq }}
            {% endif %}
        </td><td>Лучший круг: {{ stats.lapsf }}</td>
    </tr>
    <tr>
        <td>
            Всего кругов: {{ stats.lapst }}
        </td>
        <td>
            Кругов лидирования: {{ stats.lapsl }}
        </td>
    </tr>
    <tr><td></td><td></td></tr>
</table>

<h3>Гонщики</h3>
<table class="table table-striped table-condensed" style="width: auto">
    <thead>
        <tr>
            <th>#</th>
            <th>Год</th>
            <th>Гонщик</th>
        </tr>
    </thead>
    <tbody>
        {% for driver in drivers %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ driver.0 }}</td>
            	<td><a href="/driver/{{ driver.3 }}">{{ driver.1.0 }}. {{ driver.2 }}</a></td>
            </tr>
        {% endfor%}        
    </tbody>
    
</table>
