{% load static %} <!DOCTYPE html>
<html>
  <head>
    <title>F1 Stats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/f1_stats.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block CSS %}
  {% endblock CSS %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/">F1 Stats</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <!-- <li {% if active == 'Home' %} class="active" {% endif %}><a href="#">Домой</a></li> -->
            <li {% if active == 'Season' %} class="active" {% endif %} class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Сезоны<span class="caret"></span></a>
              <ul class="dropdown-menu scrollable-menu">
                {% for season in seasons %}
                    <li><a href="#">{{ season.year }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li {% if 'driver' in active %} class="active" {% endif %}><a href="/drivers/A">Гонщики</a></li>
            <li {% if 'team' in active %} class="active" {% endif %}><a href="#">Команды</a></li>
            <li {% if 'circuit' in active %} class="active" {% endif %}><a href="#">Трассы</a></li>
            <li {% if active == 'stats' %} class="active" {% endif %}><a href="#">Статистика</a></li>
            <li {% if active == 'forecast' %} class="active" {% endif %}><a href="#">Прогноз</a></li>
          </ul>
        </div>
      </div>
    </nav>
      
    <div class="container-fluid">
        {% block content%}

        {% endblock content%}
    </div>    
  </body>
</html>